.title {
  font-size: 2rem;
  text-align: center;
  font-weight: 500;
  padding: 20px 0 40px;
}

.achievement-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.achievement-title {
  font-size: 3rem;
  color: #aa7b59;
  padding: 20px 50px 0 50px;
  font-weight: 600;
}

@media screen and (max-width: 550px) {
  .title {
    font-size: 1.5rem;
  }

  .achievement-title {
    font-size: 2rem;
    padding: 20px 30px 0 30px;
  }
}
